name: "Release: Create"

run-name: "Create release from ${{ github.ref_name }}"

concurrency:
  group: release-${{ github.ref_name }}
  cancel-in-progress: false

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.sha }}
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Create semantic release
        uses: ./semantic-release-create
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          update-release-major-tag: true
